*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
    .container{
    max-width: 1400px;
    }
        header{
        line-height: 3rem;
        }
            .topbar_logo{
                padding: 27px 0 0 30px;
                float: left;
                text-align: left;
            }
            .inscription{
                font-weight: 700;
                padding: 30px 30px 0 0;
                float: right;
                color:#0065FC;
                text-align: right;
            }
                .inscription:link{
                    font-weight: 700;
                    padding-left: 20px;
                    color: #0065FC;
                }
                .inscription:hover{
                    font-weight: 900;
                    font-size: 1.1rem;
                    text-shadow: 5px 5px 5px #f2f2f2;
                    color: #0065FC;
                }
                .inscription:active{
                    font-weight: 600;
                    color: #0065FC;
                    text-shadow: #0065FC 5px 5px 5px;
                }
                .inscription:visited{
                    font-weight: 700;
                    color: #0065FC;
                }
            .topbar_menu{
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
                .topbar_selection{
                    width: 50%;
                    border-bottom: 3px solid #f2f2f2;
                    text-align: center;
                }
                    .topbar_selection:link{
                        font-weight: 400;
                        color: black;
                    }
                    .topbar_selection:visited{
                        font-weight: 400;
                        color: black;
                    }
                    .topbar_selection:hover{
                        font-weight: 500;
                        color: #0065FC;
                        text-shadow: 5px 5px 5px #f2f2f2;
                        border-bottom: #0065FC solid 2px;
                        }
                    .topbar_selection:active{
                        font-weight: 400;
                        color: #0065FC;
                        text-shadow: #0065FC 5px 5px 5px;
                        border-bottom: #0065FC solid 5px;
                    }   
                        @media screen and (min-width: 700px) {
                                header{
                                    display: flex;
                                    align-items: stretch;
                                    flex-wrap: nowrap;
                                }
                                    .topbar_logo{
                                        width: 40%;
                                        flex: 6;
                                    }
                                    .inscription{
                                        order: 3;
                                        width: 10%;
                                        flex: 1;
                                        margin: 0;
                                    }
                                    .topbar_menu{
                                        flex: 3;
                                    }
                                        .topbar_selection
                                        {
                                            padding: 33px 50px;
                                            width: 30%;                                          
                                            border-bottom: 0;
                                            width: 50%;
                                            text-align: center;
                                        }
                                            .topbar_selection:hover{
                                                border-top: 2px solid blue;
                                                border-bottom: 0;
                                            }
                        }
        nav{
            margin: 20px 30px;
        }
            .description{
                padding: 20px 0;
                line-height: 2rem;
            }
            .searchbar{
                width: auto;
                display: flex;
                justify-content: flex-start;
            }
                .fa-map{
                    width: 45px;
                    height: 45px;
                    border-radius: 17px 0 0 17px;
                    padding: 10px 15px 17px 17px;
                    background-color: #f2f2f2;
                    text-decoration: none;
                }
                    .fa-map::before{
                        display: none;
                    }
                .searchbar input{
                    width: 205px;
                    height: 45px;
                    border: 0px;
                    border-bottom:#f2f2f2 solid 1px;
                    border-top: #f2f2f2 solid 1px;
                    text-align: right;
                }
                        ::placeholder{
                            color: rgb(7, 7, 7);
                            font-size: 0.9rem;
                            font-weight: bold;
                            text-align: center;
                        }
                    .button{
                        margin: 0 0 0 -10px;
                        border: 0px;
                        border-radius:17px;
                        height: 45px;
                        width: 45px;
                        background-color: #0065FC;
                        color: white;
                        }
                        .fa-search{
                            display: inline-block;
                            list-style-type: none;
                        }
                            span.fa-search::before{
                                display: none;
                            }
                        .click_search{
                            display: none;
                            }
                        @media screen and (min-width: 575px) {
                            .searchbar{
                                width: auto;
                                display: flex;
                                justify-content: flex-start;
                                align-items: stretch;
                            }
                                .fa-map{
                                    width: 50px;
                                    height: 50px;
                                    padding: 15px 15px 20px 20px;
                                    border-radius: 17px 0 0 17px;
                                }
                                .searchbar input{
                                    width: 230px;
                                    height: 50px;
                                }
                                    ::placeholder{
                                        color: rgb(7, 7, 7);
                                        font-size: 1rem;
                                        padding-right: 40px;
                                        font-weight: bold;
                                        text-align: center;
                                    }
                                .button{
                                    min-width: 135px;
                                    min-height: 50px;
                                    border-radius: 0px 17px 17px 0px;
                                    background-color: #0065FC;
                                    color: white;
                                }
                                    .fa-search{
                                        display: none;
                                    }
                                    .click_search{
                                        font-weight: 600;
                                        display: block;
                                    }
                            }
            .filter{ 
                padding: 20px 0;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }
                .title_list{
                    width: 20%;
                    margin: 15px 0;
                }
                .list_filter{
                    width: 80%;
                    display: flex;
                    flex-wrap: wrap;
                    list-style-type: none;
                }
                    
                    .list_filter button
                    {
                        margin: 10px 5px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        border-radius: 30px;
                        padding: 0;
                        border-width: 2px 2px 2px 0;
                        border-color: rgb(190, 190, 190);
                        display: flex;
                        align-items: center;
                        background-color: white;
                    }
                        .fa-item
                        {
                            background-color: rgb(196, 238, 255);
                            border-radius: 50%;
                            height: 40px;
                            width: 40px;
                            margin-right: 10px;
                            color:#0065FC;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .list_filter button{
                            height: 40px;
                            min-height: 45px;
                            padding-right: 20px;
                            
                        }
                            .list_filter button:link{
                                box-shadow: 1px 1px rgb(190, 190, 190);
                            }
                            .list_filter button:hover{
                                background-color:#f2f2f2;
                                box-shadow: 1px 1px #f2f2f2, -1px -1px #f2f2f2;
                            }
                            .list_filter button:focus
                            {
                            background-color: #f2f2f2;
                            box-shadow: 1px 1px #f2f2f2, -1px -1px #f2f2f2;
                            }      
            .information{
                display: flex;
                flex-direction: row;
            }
                .info-circle{
                    border: 0px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: stretch;
                    background-color: white;
                } 
                        .logo_circle
                        {
                            font-size: 0.7rem;
                            border-radius: 50%;
                            height: 15px;
                            width: 15px;
                            border: 2px solid rgb(190, 190, 190);
                            background-color: white;
                            color: blue;
                        }  
                    .info{
                        font-size: 0.9rem;
                        padding-left: 8px;
                        display: flex;
                        }
                        
        aside{
            padding: 20px 20px;
            background-color: #f2f2f2;
            
        }
            .popular_title{
                padding: 20px 10px;
                display: flex;
                justify-content: space-between;
            }
                .popular_housing{
                    display: flex;
                    justify-content: center;
                }
                    .card{
                        display: flex;
                        margin: 10px 0;
                        border-radius: 22px;
                        padding: 3px;
                        background-color: white;
                        max-width: 3005px;
                        max-height: 130px;
                        box-shadow: 1px 1px rgb(190, 190, 190), -1px -1px rgb(190, 190, 190);
                    }
                        .popular_picture{
                            width: 40%;
                        }
                            .popular_picture img{
                                min-width: 115px;
                                width: 100%;
                                height: 125px;
                                object-fit: cover;
                                border-radius: 20px 0 0 20px;
                                overflow: hidden;
                                display: flex;
                            }
                            .popular_description{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                max-height: 135px;
                                max-width: 180px;
                                overflow: hidden;
                                padding: 10px 20px;
                                font-size: 0.8rem;
                            }
                            .fa_icon{
                                font-size: 0.9rem;
                                padding: 10px 0;
                                display: flex;  
                                justify-content: flex-start;
                                color: #0065FC;
                            }
                                .icon_empty{
                                    color: #f2f2f2;
                                    font-size: 1rem;
                                    padding-left: 3px;
                                    text-shadow: 1px 1px 1px  rgb(190, 190, 190);
                                }
                                @media screen and (min-width: 650px) { 
                                    aside{
                                        border-radius: 30px;
                                        margin: 0 20px;
                                        padding-right: 0;
                                        padding-left: 0;
                                    }
                                        .popular_title{
                                            padding:20px 20px;
                                        }
                                        .popular_article{
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                        }
                                            .popular_housing{
                                                padding: 5px 5px 0 0;
                                            }
                                                .card{
                                                    max-width: 300px;
                                                    max-height: 95px;
                                                }
                                                    .popular_picture img{
                                                        width: 100%;
                                                        height: 100%;
                                                    }
                                    .accomodation_section{
                                        padding: 3px;
                                        margin: 15px 2px 15px 0;
                                        width: 655px;
                                    }              
                                }

        article{
            padding: 20px;
            flex-direction: column;
        }
            .serie{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            } 
                .accomodation_title{
                    padding: 15px 0;
                }
                .accomodation_section{
                    max-height: 180px;
                    margin: 10px 0;
                    border-radius: 22px;
                    padding: 3px;
                    box-shadow: 1px 1px #f2f2f2, -1px -1px #f2f2f2;
                    display: flex;
                    background-color: white;
                    flex-wrap: wrap;
                }
                    .accomodation_picture img{
                        max-width: 655px;
                        width: 100%;
                        height: 105px;
                        object-fit: cover;
                        border-radius: 20px 20px 0 0;
                        overflow: hidden;
                        display: flex;
                    }
                    .accomodation_description{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        max-height: 135px;
                        overflow: hidden;
                        padding: 5px 20px;
                        font-size: 0.9rem;
                    }
                    .more{
                        padding: 20px;
                        font-size: 0.9rem;
                        font-weight: 900;
                    }
@media screen and (min-width: 980px) {
    .main 
    {
        display: flex;
        flex-flow: nowrap row-reverse;
    }
        aside{
            width: 33%;
            margin: 0 20px 0 0;
        }
            .popular_title{
                padding: 10px 20px 20px 20px;
            }.popular_housing{
                padding: 5px 20px;;
            }
            .card{
                display: flex;
                margin: 10px 0;
                border-radius: 22px;
                background-color: white;
                max-width: 345px;
                max-height: 150px;
            }
                .popular_picture img{
                    width: 125px;
                    height: 135px;
                }
                .popular_description{
                    font-size: 0.8rem;
                }
        article{
            width: 66%;
            padding: 20px 10px 0 20px;
            }
            .serie{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
                .accomodation_section{
                    width: 33%;
                    max-height: 200px;
                    max-width: 500px;
                    margin: 10px 5px;
                }
    
    .accomodation_picture img{
        width: 100%;
        height: 115px;
        display: flex;
    }
    .serie{
    flex-wrap: nowrap;
    padding-top: 15px;
    justify-content: space-between;
}
.accomodation_description{
    height: auto;
    padding: 15px 0px 15px 20px;
    font-size: 0.8rem;
}
.more{
    padding: 30px 20px 0 20px;
}


}
.branch
{
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
}
.activities_section
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "vieux_port pomegue calanques notre_dame"
    "vieux_port frioul calanques longchamp";
}
.activities{
    margin: 10px 20px 20px 0;
    background-color: white;
    border-radius: 22px;
    text-align:  left;
    box-shadow: 1px 1px #f2f2f2, -1px -1px #f2f2f2;

}

.activities_picture img{
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 155px;
}
.big img{
    object-fit: cover;
    height: 390px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.activities_title{
    padding: 15px 10px 10px 20px;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 2rem;
}
.vieux_port
{

    grid-area: vieux_port;
    height: auto;
} 
.pomegues
{
   
    grid-area: pomegue;
    height: auto;
}
.frioul
{
    grid-area: frioul;
}
.calanques
{
    grid-area: calanques;
}
.notre_dame
{
    grid-area: notre_dame;
}
.longchamp
{
    grid-area: longchamp;
}
@media screen and (max-width: 979px) {
    .activities_section
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 24% 24% 4% 24% 24%;
    grid-template-areas:
    "vieux_port pomegue"
    "vieux_port frioul"
    ". ."
    "calanques notre_dame"
    "calanques longchamp";
}
.activities_title{
    padding: 0 0 20px 20px;

}
}
@media screen and (max-width: 649px) {
    .activities_section
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2, 24.5%) 2% repeat(2, 24.5%);
        grid-template-areas:
        "vieux_port vieux_port"
        "pomegue frioul"
        ". ."
        "calanques calanques"
        "notre_dame longchamp";
    }
    .activities_picture img{
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 285px;
    }
    .big img {
        object-fit: cover;
        height: 290px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
}
@media screen and (max-width: 575px) {
    .activities_section
    {
   display: flex;
   flex-direction: column;
    }
    .activities{
        margin: 10px 0;
    }
    
.big img {
    height: 120px;
}
.activities_title{
    padding: 0 0 20px 30px ;
}
.activities_picture img{
        height: 120px;
    }
}
footer{
    padding:  30px 20px 20px 40px;
    line-height: 3rem;
    background-color: #f2f2f2;
}
    .footer_bar{
        padding-bottom: 30px;
    }
        footer ul{
            padding: 0;
            margin:0;
        }
            footer li{
                list-style-type: none;
                line-height: 1.5rem;
            }
                li a{
                    color: black;
                }
                    @media screen and (min-width:650px) {
                        footer{
                            display:flex;
                            flex-flow: row wrap;
                        }
                        .footer_bar{
                            width: 33%;
                        }
                    }
