* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header
  {
      background-color: rgb(196, 23, 23);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .header_title
  {
      background-color: rgb(66, 65, 65);
      height: 100%;
      align-items: center;
      margin: 50px 0 50px 50px;
  }
  #menu
  {
      display: flex;
      align-items: center;
      background-color: rgb(5, 2, 7);
      margin: 50px 50px 50px 0;
      padding-right: 50px;
      width: 30%;
      justify-content: space-between;
    }
    .find
    {
        background-color: blueviolet;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        min-width: 20%;
        height: 200px;
    }
    .nav_title
    {
        background-color: beige;
        display: flex;
        flex-direction: column;
        margin: 0 50px 0 50px;
        height: 30%;
    }
    #city
    {
        background-color: aquamarine;
        display: flex;
        margin:0 50px 0 50px;
        height: 30%;
        align-items: center;
    }
    #filter
    {
        background-color: aqua;
        display: flex;
        margin: 0 50px 0 50px;
        height: 30%;
        align-items: center;
    }
    .info
    {
        background-color: black;
        margin: 0 50px 0 50px;
        height: 10%;
}
.list_filter
{
    display: flex;
    padding-left: 60px;
    background-color: blueviolet;
    justify-content: space-between;
}
#filter ul
{
display: flex;
}
#main
{
    background-color: blue;
    display: flex;
}
#accomodation
{
    background-color: aqua;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.accomodation_title
{
    margin-left: 50px;
    height: 10%;
}
#accomodation img
{
    width: 200px;
    height: 160px;
}
aside img
{
    width: 150px;
    height: 120px;
}
#accomodation_article
{
    display: flex;
    flex-direction: column;
    background-color: brown;
    margin: 0 50px 0 50px;
    height: 80%;
}
.first_serie
{
    display: flex;
    background-color: bisque;
    height: 50%;
    justify-content: space-between;

}
.second_serie
{
    display: flex;
    background-color: antiquewhite;
    height: 50%;
    justify-content: space-between;
}
aside
{
    background-color: rgb(18, 121, 211);
    width: 30%;
}
#accomodation p
{
    margin-left: 50px;
    height: 10%;
}
aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;

}
#popular_title
{
    display: flex;
    justify-content: space-between;
    height: 10%;
}
#popular_article
{
    background-color: bisque;
    height: 90%;
    justify-content: space-around;
}
.first_popular
{
    display: flex;
    margin: 0 20px 20px 20px;
    height: 30%;
}
.second_popular
{
    display: flex;
    align-self: center;
    background-color: brown;
    margin: 0 20px 20px 20px;
    height: 30%;
    
}
.third_popular
{
    display: flex;
    background-color: blueviolet;
    margin: 0 20px 20px 20px;
    height: 30%;
}
#branch
{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 183, 105);
}
.panorama
{
    display: flex;
}
#first
{
    display: flex;
    flex-flow: wrap column;
    background-color: rgb(18, 150, 47);
    width: 50%;
}
#second
{
    display: flex;
    flex-flow: wrap column;
    background-color: rgb(8, 65, 20);
    width: 50%;
    
}
.panorama img
{
    height: 500px;
    width: 390px;
}
.
footer
{
display: flex;
justify-content: space-around;
height: 200px;
}